body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



header,
section {
    height: 100vh;
    background-color: #F44336;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

section {
    width: 100%;
    margin: 0 auto;
}

#secao-1 {
    background-color: #2196F3;
}

#secao-2 {
    background-color: #4CAF50;
}


#texto-1,
#texto-2{
    width: 50%;
    transition: all ease 1s;
}

#texto-1{
   
    transform: translate(100px, 0px);
}

#texto-2{

    transform: translate(-100px, 0px);
}